.Home-intro {
  /* The image used */
  position: fixed;
  top: 0;
  margin-left: 85px;
  width: 55%;
  height:100%;
  background-size: cover;
  background-image: url(./images/intro.gif);
  z-index: -1;
}
.Signup-intro {
	/* The image used */
	position: fixed;
	top: 0;
	margin-left: 31px;
	width: 55%;
	height:100%;
	background-size: cover;
	background-image: url(./images/Resume-amico.png);
	z-index: -1;
  }
.header{
position: fixed;
  background-color: #474463;
  height: 55px;
  color: white;
  width: 100%;
}
.logo{
  font-size:35px;
  margin-left:45px;
}
.auth-menu{
  left: 1200px;
  position: relative;
  bottom: 45px;
  color: white !important;
  width: 100%;
  
}
.login-form {
  left: 480px;
  position: fixed;
  top: 120px;  
  width: 100%;
}
.form-selector {
	left: 943px;
	top:90px;
	position: fixed;
	width: 100%;
  }
  
  .form-control {
	width: 32% !important;
  }
  
  .stepOne-signup{
	  background-color: aqua;
	 
  }
  .user-status{
	float: left;
	clear: none;
	margin: 2px 0 0 2px;
  }
  