.Home-intro {
  /* The image used */
  position: fixed;
  top: 0;
  margin-left: 85px;
  width: 55%;
  height:100%;
  background-size: cover;
  background-image: url(./images/intro.gif);
  z-index: -1;
}
.Signup-intro {
	/* The image used */
	position: fixed;
	top: 0;
	margin-left: 31px;
	width: 55%;
	height:100%;
	background-size: cover;
	background-image: url(./images/Resume-amico.png);
	z-index: -1;
  }
.header{
position: fixed;
  background-color: #474463;
  height: 55px;
  color: white;
  width: 100%;
}
.logo{
  font-size:35px;
  margin-left:45px;
}
.auth-menu{
  left: 1200px;
  position: relative;
  bottom: 45px;
  color: white !important;
  width: 100%;
  
}
.login-form {
  left: 480px;
  position: fixed;
  top: 120px;  
  width: 100%;
}
.form-selector {
	left: 910px;
	top:60px;
	position: fixed;
	width: 100%;
  }
  
  .form-control {
	width: 32% !important;
	height: 70% !important;
  }
  
  .stepOne-signup{
	  background-color: aqua;
	 
  }
  .user-status{
	float: left;
	clear: none;
	margin: 2px 0 0 2px;
  }
  .invalid-pass{
	font-weight: bold;
	color: red
  }
  .valid-pass{
	font-weight: bold;
	color: green
  }
  .form-group {
	  margin-bottom: 0.5rem !important;
  }


.header__left {
    display: flex;
}
.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input {
    width: 300px;
    outline: none;
    border: none;
    background: none;
}
.logo2{
	font-size:35px;
	margin-left:45px;
	color:#474463 !important;
  }

  .search-bar{
	left: 350px;
	position: relative;
	bottom: 45px;
	color: white !important;
	width: 70%;
	
  }
  .search {
	width: 55% !important;
  }
  .dropD{
	left: 1200px;
	position: relative;
	bottom: 67px;
	color: white !important;
	width: 100%;

  }
  .joblink{
	  color:white;
  }
  .imageRound{
	position: absolute;
	width: 3%;
	border-radius: 50%;
	left: -37px;
	top: -3px
  }
  .dropD2{
	left: 1050px;
	position: relative;
	bottom: 37px;
	color: white !important;
	width: 100%;

  }