.Home-intro {
  /* The image used */
  position: fixed;
  top: 0;
  margin-left: 85px;
  width: 55%;
  height:100%;
  background-size: cover;
  background-image: url(./images/intro.gif);
  z-index: -1;
}
.header{
position: fixed;
  background-color: #474463;
  height: 55px;
  color: white;
  width: 100%;
}
.logo{
  font-size:35px;
  margin-left:45px;
}
.auth-menu{
  left: 1200px;
  position: relative;
  bottom: 45px;
  color: white !important;
  width: 100%;
  
}
.login-form {
  left: 480px;
  position: fixed;
  top: 120px;  
  width: 100%;
}